ul.pagination{justify-content:center;padding:0;margin:0;}
ul.pagination li{margin:0px 8px;}
ul.pagination li a{color:#747474;float:left;border-width:1px;border-style:solid;border-color:#d2d2d2;display:block;text-decoration:none;font-weight:normal;height:28px;line-height:22px;padding:2px 9px;}
ul.pagination li.current-page.active a{font-weight:bold;color:#89C6CC;border:1px solid #15909c;background:#f6f6f6;}
nav.quantum-spacing-div{text-align:center;}
li#prev-page a{font-weight:normal;height:28px;line-height:22px;padding:2px 9px;color:#747474;float:left;border-width:1px;border-style:solid;border-color:#d2d2d2;display:block;}
li#next-page a{font-weight:normal;height:28px;line-height:22px;padding:2px 9px;color:#747474;float:left;border-width:1px;border-style:solid;border-color:#d2d2d2;display:block;}
li#prev-page.disabled{color:#aaa;pointer-events:none;}
li#next-page.disabled{color:#aaa;pointer-events:none;}